# dependencies
node_modules/
venv/
__pycache__/
*.pyc

# env / secrets (NUNCA subir)
.env
.env.*

# logs
*.log

# build
.next/
out/
dist/
build/

# OS
.DS_Store

# data & backups
data/
*.bak
redis.conf
